---
import Base from '../layouts/Base.astro';
import Bookmarks from '../components/Bookmarks.astro';
---
<Base title="Bookmarks">
  <h1>Bookmarks</h1>
  <p>Save a link and get a short slug you can share.</p>
  <Bookmarks />
</Base>
